.about {
	margin-left: 60px;
	height: 100vh;
	overflow-y: scroll;
	@media only screen and (max-width: 768px) and (min-width: 320px) {
		margin-left: 0px;
	}
	.top {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		height: 300px;
	}
	.content {
		color: #fff;
		padding: 50px 50px;
		p {
			font-size: 20px;
		}
	}
}
