.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	border-top: 2px solid #ffd700;
	padding: 50px 50px;
	@media only screen and (max-width: 450px) and (min-width: 320px) {
		padding: 50px 20px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			margin-bottom: 10px;
			a {
				text-decoration: none;
				color: #fff;
				&:hover {
					color: #ffd700;
				}
			}
		}
	}
	img {
		width: 200px;
		@media only screen and (max-width: 728px) and (min-width: 320px) {
			width: 110px;
		}
	}
	.footer-logo {
		flex: 1;
		@media only screen and (max-width: 1024px) and (min-width: 728px) {
			flex: 2;
		}
		@media only screen and (max-width: 450px) and (min-width: 320px) {
			order: 2;
			flex: auto;
		}
	}
	.footer-nav {
		flex: 1;
		@media only screen and (max-width: 450px) and (min-width: 320px) {
			order: 1;
			flex: auto;
		}
	}
	.footer-follow {
		flex: 2;
		svg {
			margin-right: 10px;
		}
		@media only screen and (max-width: 1024px) and (min-width: 450px) {
			flex: 1;
		}
		@media only screen and (max-width: 450px) and (min-width: 320px) {
			order: 3;
			flex: auto;
		}
	}
}
